
.root {
}
.box{
  height: 100PX;
  background-color: red;
}
.box-green{
  height: 100PX;
  background-color: green;
}

.scrollView{
  margin-top: 100PX;
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}